In [8]:
import sqlite3
import os
ROOT_DIR = '/home/loitg/workspace/dewarp/'

In [54]:
db = sqlite3.connect(os.path.join(ROOT_DIR, 'instance/flaskr.sqlite'),\
                    detect_types=sqlite3.PARSE_DECLTYPES)

In [53]:
db.close()

In [56]:
c = db.cursor()

In [64]:
c.execute('''
CREATE TABLE IF NOT EXISTS images (
  imageName TEXT PRIMARY KEY UNIQUE,
  imageStatus TEXT NOT NULL,
  guidelines TEXT
);
''')

In [86]:
c.fetchall()

[('images',)]

In [85]:
rs = c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", ['images']);

In [33]:
rs = c.execute("drop table images;")

In [95]:
rs = c.execute("select * from images where imageName=?;", ['Peter'])

In [96]:
c.rowcount

-1

In [50]:
rs = c.execute('Update images set guidelines = ?, imageStatus=? where imageName = ?', ('[1,2,3]', 'Done', 'Peter'))

In [41]:
sql = "INSERT INTO images VALUES (?,?,?);"
val = [
  ('Peter', 'Lowstreet 4',''),
  ('Amy', 'Apple st 652',''),
  ('Hannah', 'Mountain 21','')
]

c.executemany(sql, val)
db.commit()
print(c.rowcount, "was inserted.")

3 was inserted.

In [20]:
dir(rs)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [63]:
rs.fetchall()

[]

In [97]:
rs = c.execute("drop table images;")

In [ ]:
imagesdir = '/home/loitg/ssd/data/temp3/images_unify_old'

from time import time

c = db.cursor()
c.execute('''
CREATE TABLE IF NOT EXISTS images (
imageName TEXT PRIMARY KEY UNIQUE,
imageStatus TEXT NOT NULL,
guidelines TEXT
);
''')

tt = time()

c.execute("select * from images")
if len(c.fetchall()) == 0:
    imgnames = list(os.listdir(imagesdir))
    sql = "INSERT INTO images VALUES (?,?,?);"
    val = [(imgname, 'None','') for imgname in imgnames]
    c.executemany(sql, val)
    db.commit()