In [5]:
import sqlite3
import os
ROOT_DIR = '/home/loitg/workspace/dewarp/'

In [6]:
db = sqlite3.connect(os.path.join(ROOT_DIR, 'instance/flaskr.sqlite'),\
                    detect_types=sqlite3.PARSE_DECLTYPES)

In [19]:
db.close()

In [7]:
c = db.cursor()

In [64]:
c.execute('''
CREATE TABLE IF NOT EXISTS images (
  imageName TEXT PRIMARY KEY UNIQUE,
  imageStatus TEXT NOT NULL,
  guidelines TEXT
);
''')

In [7]:
c.fetchall()

[]

In [85]:
rs = c.execute("SELECT name FROM sqlite_master WHERE type='table' AND name=?", ['images']);

In [33]:
guidelinesimgname=650000000000030.9f127175-977c-4579-8010-b519185d3f52.636613972057668675.jpg%2F&status=123

In [36]:
rs = c.execute("select * from images where imageName=?;", ['650000000000055.a12cff97-ff45-4f8e-8639-5374b665a426.636610805786953293.jpg'])

In [6]:
c.rowcount

-1

In [18]:
rs = c.execute('Update images set guidelines = ?, imageStatus=? where imageName = ?', ('[1,2,3]', 'Done', 'Peter'))

In [41]:
sql = "INSERT INTO images VALUES (?,?,?);"
val = [
  ('Peter', 'Lowstreet 4',''),
  ('Amy', 'Apple st 652',''),
  ('Hannah', 'Mountain 21','')
]

c.executemany(sql, val)
db.commit()
print(c.rowcount, "was inserted.")

3 was inserted.

In [10]:
rs = c.execute('Update images set guidelines = ?, imageStatus=? where imageName = ?', ('[]', 'None', '650000000000058.12b6447a-74cb-4445-a32e-65660dabbde2.636615038781264776.jpg'))
db.commit()

In [37]:
rs.fetchone()

('650000000000055.a12cff97-ff45-4f8e-8639-5374b665a426.636610805786953293.jpg',
 'loitg redraw',
 '[[{"x":71,"y":54},{"x":521,"y":74}],[{"x":71,"y":244},{"x":467,"y":332}]]')

In [4]:
rs = c.execute("drop table images;")

In [106]:
imagesdir = '/home/loitg/ssd/data/temp3/images_unify_old'



c = db.cursor()
c.execute('''
CREATE TABLE IF NOT EXISTS images (
imageName TEXT PRIMARY KEY UNIQUE,
imageStatus TEXT NOT NULL,
guidelines TEXT
);
''')
#from time import time
#tt = time()

c.execute("select * from images")
rowcount = len(c.fetchall())
# print('found %d items in %f second' % (rowcount, time()-tt))
# tt = time()
if rowcount == 0:
    imgnames = list(os.listdir(imagesdir))
    sql = "INSERT INTO images VALUES (?,?,?);"
    val = [(imgname, 'None','') for imgname in imgnames]
    c.executemany(sql, val)
    db.commit()
    #print('insert all in %f second' % (time() - tt))

found 0 items in 0.000302 second
insert all in 0.127138 second

AttributeError: 'sqlite3.Cursor' object has no attribute '__dict__'